html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ========================================================== */

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.6px;

  color: #242121;
  background-color: #fff;
}

.body--active {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 48px;

  text-align: center;
  text-transform: uppercase;
  position: relative;

  color: #01353E;
  margin-bottom: 100px;
}

.title:after {
  content: '/';
  position: absolute;
  width: 48px;
  height: 85px;
  font-size: 72px;

  color: #00B2A0;
}

/* HEADER ======================================================== */
.header {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header:before {
  content: '';
  height: 50vh;
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
}

.header__top {
  position: absolute;
  top: 0;
  background-color: transparent;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__top.fixed {
  position: fixed;
  height: auto;
  background-color: rgb(31, 84, 90);
}

.header__top.fixed .header__top-inner {
  padding-top: 0;
}

.header__top-inner {
  padding-top: 35px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  margin-right: 186px;
  fill: #fff;
  transition: fill 0.5s;
}

.logo:hover {
  fill: #00B2A0;
}

.logo:active {
  fill: #8bb1dd;
}


.nav__btn {
  display: none;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.nav__item+.nav__item {
  margin-left: 45px;
}

.nav__link {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: all 0.4s;
}

.nav__link:hover {
  border-bottom-color: #00B2A0;
  color: #00B2A0;
}

.nav__link:active {
  color: #8bb1dd;
  border-bottom-color: #8bb1dd;
}

/* HEADER__CONTENT =================================== */
.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 87vh;
}

.header__subtitle {
  margin-top: auto;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 200px;
  text-transform: uppercase;
  /* transform: translateX(3%); */

  color: #0D302C;
}

.header__title {
  font-weight: 400;
  font-size: 24px;

  color: #000;
  margin-bottom: auto;
}

.header__link:before {
  content: '';
  background-image: url('../img/icons/serf-icon.svg');
  background-repeat: no-repeat;
  bottom: 91px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 20px;
  height: 70px;
}

/* ABOUT ===================================== */
.about {
  padding: 189px 0 170px;
}

.about__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__items p {
  max-width: 465px;
  margin: 0 0 30px 0;
}

/* RECEIVE ===================================== */
.receive {
  padding: 202px 0 170px;
  background-color: #F8F8F8;
}

.receive__title {
  margin-bottom: 92px;
}

.receive__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 103px;
}

.receive__item {
  max-width: 370px;
  padding: 0 10px;
  margin: 0 -10px;
}

.receive__item-title {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  margin: 0 128px 5px;

  position: relative;
  min-height: 70px;
}

.receive__item-title::before {
  content: '';
  position: absolute;
  height: 50px;
  left: -60px;
  width: 50px;
}

.receive__item-title--housing::before {
  background-image: url('../img/icons/sun.svg');
}

.receive__item-title--fly::before {
  background-image: url('../img/icons/plain.svg');
}

.receive__item-title--learning::before {
  background-image: url('../img/icons/surfman.svg');
}

/* RECEIVE__BENEFITS ================================ */
.receive__benefits {
  padding-top: 12px;
}

.receive__benefits-inner {
  display: flex;
}

.receive__info-items {
  display: flex;
  flex-direction: column;
}

.receive__info-item {
  max-width: 345px;
  margin-bottom: 26px;
  position: relative;
}

.receive__level {
  position: relative;
  padding-right: 10px;
}

.receive__info-item::after {
  position: absolute;
  font-weight: 400;
  font-size: 24px;
  top: 0;
}

.receive__info-item--small::after {
  content: '85%';
  right: -10px;
}

.receive__info-item--middle::after {
  content: '95%';
  right: -30px;
}

.receive__info-item--large::after {
  content: '99%';
  right: -40px;
}

.receive__benefits-text {
  margin-left: auto;
  max-width: 600px;
}

.receive__benefits-text p {
  margin-bottom: 30px;
}

/* TEACHERS =========================================== */
.teachers {
  padding-bottom: 199px;
}

.teachers__background {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right top;
  padding-bottom: 117px;
}

.teachers__title {
  text-align: left;
  padding-top: 200px;
}

.teachers__text p {
  max-width: 511px;
  margin-bottom: 30px;
}

/* GALLERY ========================================== */
.gallery {
  padding-bottom: 200px;
}

.gallery__title {
  margin-bottom: 216px;
}

.gallery__filter-btns {
  display: flex;
  margin-bottom: 46px;
}

.gallery__btn {
  margin-right: 15px;
  padding: 0 4px 5px;

  text-transform: uppercase;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;

  cursor: pointer;
  color: #242121;
  outline-color: transparent;
  border: none;
  background-color: transparent;

  transition: color 0.3s;
}

.gallery__btn:focus {
  color: #8bb1dd;
}

.gallery__btn.mixitup-control-active {
  color: #00B2A0;
  border-bottom: 2px solid #00B2A0;
}


.gallery__btn:hover {
  color: #00B2A0;
}

.gallery__btn:active {
  color: #8bb1dd;
}

.gallery__content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -40px;
}

.gallery__item {
  margin-right: 40px;
  margin-bottom: 40px;
  opacity: 1;
  transition: opacity 0.5s;
}

.gallery__item:hover {
  opacity: 0.7;
}

.gallery__item img {
  width: 100%;
}

.gallery__add {
  display: block;
  margin: 8px auto 200px;
  max-width: 356px;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  color: #242121;

  padding: 23px 91px;
  background-color: #fff;
  border: 1px solid #C4C4C4;

  transition: background-color 0.5s;
}

.gallery__add:hover {
  background-color: #00B2A0;
  color: #fff;
}

.blockquote {
  padding: 81px 15px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-style: italic;
  font-weight: 400;
  font-size: 36px;

  background-color: #F8F8F8;
}

.blockquote__author {
  display: block;
  margin-left: 32%;
  padding-bottom: 62px;

  font-weight: 300;
  font-size: 14px;
}

.gallery__video {
  margin: 200px 0;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__video-link {
  fill: rgb(31, 84, 90);
  transition: fill 0.6s;
}

.gallery__video-link:hover {
  fill: #fff;
}


.gallery__numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery__numbers-item {
  text-align: center;
  font-weight: 700;
  font-size: 64px;

  color: #01353E;
}

.gallery__numbers-item+.gallery__numbers-item {
  margin-left: 92px;
}

.gallery__numbers-item span:nth-child(2) {
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;

  color: #242121;
}

/* BLOG =================================================== */
.blog {
  padding-bottom: 200px;
  background-color: #fff;
}

.blog__title {
  margin-bottom: 227px;
}

.slider-blog__item {
  color: #fff;
  padding-top: 322px;
  height: 800px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  position: relative;
  display: flex;
}

.slider-blog__item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(36, 33, 33, 0.5);
  z-index: 1;
}

.slider-blog__link {
  transition: color 0.5s;
}

.slider-blog__link:hover {
  color: #00B2A0
}

.slider-blog__item-title {
  display: block;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;

  max-width: 600px;
  margin-left: auto;

  z-index: 100;
  position: relative;
}

.slider-blog__item-descr {
  max-width: 410px;
  margin: 0 192px 146px auto;
  color: #fff;

  z-index: 100;
  position: relative;
}

/* SLICK-DOTS =================================================== */
ul.slick-dots {
  display: flex;
  position: absolute;
  bottom: 73px;
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots li+li {
  margin-left: 15px;
}

.slick-dots button {
  background-color: #fff;

  width: 15px;
  height: 15px;
  border-radius: 50%;

  font-size: 0;
  padding: 0;
  border: none;
  outline: inherit;
}

.slick-dots .slick-active button {
  background-color: #00B2A0;
}

/* TEAM =================================================== */
.team {
  padding-bottom: 150px;
}

.team__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 112px;
}

.team__link,
.pricing__link {
  margin-bottom: 20px;
  transition: all 0.6s;
}

.team__link:hover,
.pricing__link:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2);
  background-color: #C4C4C4;
}

.team__item {
  text-align: center;
}

.team__name {
  margin: 25px 0 5px;

  font-weight: 700;
  font-size: 18px;
}

.team__position {
  padding-bottom: 34px;
}

/* PRICING =================================================== */
.pricing {
  padding: 200px 0;
  background-color: #F8F8F8;
}

.pricing__title {
  margin-bottom: 217px;
}

.pricing__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pricing__item {
  display: flex;
  flex-direction: column;
  padding: 45px 30px;
  min-width: 360px;
  background-color: #fff;
}

.pricing__heading {
  margin: 0 auto 58px;
  font-size: 36px;
  color: #01353E;
}

.pricing__item li {
  margin-bottom: 20px;
}

.pricing__item li:nth-last-child(1) {
  margin-bottom: 77px;
}

.pricing__num {
  font-size: 36px;
  margin-top: auto;

  align-self: center;
  color: #01353E;
}

.pricing__num span:nth-child(2) {
  font-size: 18px;
  line-height: 1.9;
  vertical-align: middle;
}

/* MAP ========================================== */
.map {
  display: flex;
  justify-content: center;
  padding: 200px 224px;
}

/* CONNECTION ======================================= */
.connection__inner {
  display: flex;
  padding: 120px 0 200px;
}

.form {
  width: 50%;
}

.input,
.textarea {
  margin-bottom: 11px;
  padding: 18px 0;

  display: block;
  width: 100%;

  font-weight: 400;
  font-size: 18px;

  color: #000;
  border: 0;
  outline-color: transparent;
  border-bottom: 2px solid #DADADA;
}

.input::placeholder,
.textarea::placeholder {
  color: #00B2A0;
}

.input:focus,
.textarea:focus {
  border-bottom: 2px solid #000;
}

.textarea {
  padding-top: 40px;
  min-height: 196px;
  resize: none;
  margin-bottom: 77px;
}

.textarea::placeholder {
  max-width: 260px;
}

.form__btn {
  font-size: 24px;
  text-transform: uppercase;

  padding: 24px 111px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #C4C4C4;

  transition: all 0.3s;
}

.form__btn:hover {
  background-color: #00B2A0;
  color: #fff;
}

.connection__contact {
  width: 50%;
  margin-left: 31px;
  padding: 70px 40px;

  font-size: 24px;
  font-style: normal;

  background-color: #F8F8F8;
}

.connection__quastion,
.connection__apps {
  margin-bottom: 65px;
}

.connection__apps-link,
.connection__address-link {
  transition: color 0.5s;
}

.connection__apps-link:hover,
.connection__address-link:hover {
  color: #00B2A0;
}

.connection__address {
  max-width: 327px;
}

ul.social__list {
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}

.social__item+.social__item {
  margin-left: 10px;
}

.social__link {
  font-size: 24px;
  text-transform: uppercase;

  transition: color 0.3s;
}

.social__item:nth-child(2) {
  color: #00B2A0;
}

.social__link:hover {
  color: #00B2A0;
}

/* FOOTER =========================================*/
.footer {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #00B2A0;
}

.footer__logo {
  margin-right: 0;
}

.footer__logo:hover {
  fill: #8bb1dd;
}

/* MEDIA ================================================ */
@media (max-width: 1200px) {

  /* header__content */
  .header__subtitle {
    font-size: 180px;
  }

  /* sections */
  .about,
  .receive,
  .gallery,
  .blog,
  .team,
  .pricing {
    padding: 75px 0 45px;
  }

  .connection {
    padding: 0;
  }

  /* titles */
  .title {
    margin-bottom: 75px;
  }

  /* receive */
  .receive__item {
    max-width: 300px;
  }

  /* teachers */
  .teachers {
    padding-bottom: 0;
  }

  .teachers__background {
    background-size: 42%;
    padding-bottom: 0;
  }

  .teachers__title {
    padding-top: 75px;
  }

  /* gallery */
  .gallery__content {
    margin-right: 0;
  }

  .gallery__item {
    margin: 0 10px 10px;
  }

  .gallery__add {
    margin: 18px auto 100px;
  }

  .gallery__video {
    margin: 100px 0;
  }

  /* slider */
  .slider-blog__item {
    padding-top: 200px;
    height: 600px;
  }

  /* team */
  .team__items {
    padding-top: 55px;
  }

  /* price */
  .pricing__item {
    margin-bottom: 50px;
  }

  .pricing__item-benefits {
    text-align: center;
  }

  .pricing__items {
    padding-bottom: 0;
    justify-content: space-around;
  }

  /* connection */
  .connection__inner {
    display: block;
    padding: 0 0 100px;
  }

  .form {
    width: 100%;
  }

  .form__btn {
    display: flex;
    justify-content: center;
    margin: 0 auto 50px;
  }

  .connection__contact {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-left: 0;
  }

  .connection__address {
    max-width: 100%;
  }

  /* social */
  ul.social__list {
    padding-bottom: 100px;
  }

  .social__links {
    padding: 0;
  }
}

@media (max-width: 992px) {

  /* header__top */
  .header__top-inner {
    justify-content: space-between;
    padding-top: 0;
  }

  .logo {
    position: relative;
    z-index: 2;
  }

  .nav__btn {
    position: relative;
    z-index: 2;
  }

  .nav__list {
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #0D302C;
    display: block;
    text-align: center;
    transform: translateY(-200%);

    overflow-y: auto;
    overflow-x: hidden;

    transition: all 0.4s;
  }

  .header__top-inner.header__top-inner--active .nav__list {
    padding-top: 55px;
    transform: translateY(0%);
  }

  .nav__item+.nav__item {
    margin: 0;
  }

  .nav__btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  ul.nav__list {
    padding: 60px 0 15px;
    margin: 0 -15px;
  }

  .nav__link {
    display: block;
    padding: 15px 0;
    color: #fff;
  }

  /* header__content */
  .header__content-inner {
    min-height: 92vh;
  }

  .header__subtitle {
    font-size: 150px;
  }

  .header__link:before {
    bottom: 20px;
  }

  /* sections */
  .about,
  .receive,
  .teachers,
  .gallery,
  .blog,
  .team,
  .pricing,
  .connection {
    padding: 50px 0 20px;
  }

  /* titles */
  .title {
    font-size: 35px;
    margin-bottom: 50px;
  }

  .title:after {
    font-size: 50px;
    line-height: 1.5;
  }

  /* about */
  .about__items p {
    max-width: 100%;
    margin: 0 0 30px 0;
  }

  /* receive */
  .receive__items {
    display: block;
  }

  .receive__item {
    max-width: 100%;
  }

  .receive__item-title {
    display: block;
    position: static;
    min-height: 0;
    margin: 0 0 10px;
    text-align: center;
  }

  .receive__item-text {
    margin-bottom: 30px;
  }

  .receive__items {
    margin-bottom: 50px;
  }

  /* receive__benefits */
  .receive__benefits-inner {
    display: block;
  }

  .receive__benefits-text {
    max-width: 100%;
  }

  /* teachers */
  .teachers__background {
    background-size: 0%;
  }

  .teachers__title {
    text-align: center;
    padding: 0;
  }

  .teachers__text p {
    max-width: 100%;
  }

  .teachers__text p:nth-last-child(1) {
    margin-bottom: 0;
  }

  /* gallery */
  .gallery__filter-btns {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .gallery__btn {
    margin-bottom: 20px;
    display: block;
  }

  .gallery__content {
    justify-content: center;
    margin-right: -20px;
  }

  .gallery__add {
    margin-bottom: 25px;
  }

  .gallery__item {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .blockquote {
    margin-bottom: 25px;
    padding: 20px 15px;
  }

  .blockquote__author {
    margin: 0 auto;
    padding-bottom: 0;
  }

  .gallery__numbers-item {
    width: 50%;
    margin-top: 20px;
  }

  .gallery__numbers-item+.gallery__numbers-item {
    margin-left: 0;
  }

  .gallery__video {
    margin: 0;
  }

  .gallery__numbers-item {
    font-size: 45px;
  }

  /* slider */
  .slider-blog__item-title {
    font-size: 35px;
  }

  /* team */
  .team__items {
    justify-content: space-around;
  }

  /* map */
  .map {
    padding: 100px;
  }

  /* connection */
  .textarea {
    margin-bottom: 40px;
  }

  .connection__inner {
    display: block;
    padding: 0 0 50px;
  }

  /* social */
  ul.social__list {
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {

  /* sections */
  .about,
  .receive,
  .teachers,
  .gallery,
  .blog,
  .team,
  .pricing,
  .connection {
    padding: 30px 0 10px;
  }

  /* header__top */
  ul.nav__list {
    padding: 0;
  }

  .nav__link {
    padding: 13px 0;
  }

  /* header__content */
  .header__subtitle {
    font-size: 80px;
  }

  /* titles */
  .title {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .title:after {
    display: none;
  }

  /* about */
  .about__items p {
    margin: 0 0 20px 0;
  }

  /* receive */
  .receive__benefits-inner {
    display: block;
  }

  .receive__benefits-text {
    margin-top: 20px;
    margin-left: 0;
  }

  .receive__items {
    margin-bottom: 25px;
  }

  .receive__info-items {
    display: block;
  }

  .receive__benefits-text p {
    margin-bottom: 20px;
  }

  /* teachers */
  .teachers__text p {
    margin-bottom: 20px;
  }

  /* gallery */
  .blockquote {
    padding: 25px 15px;
    font-size: 28px;
  }

  .gallery__video,
  .slider-blog__item {
    height: 400px;
  }

  .gallery__numbers-item {
    font-size: 30px;
  }

  /* slider */
  .slider-blog__item {
    padding-top: 150px;
    text-align: center;
  }

  .slider-blog__item-title {
    font-size: 30px;
    margin: 0 auto;
  }

  .slider-blog__item-descr {
    margin: 0 auto;
  }

  /* team */
  .team__items {
    padding-top: 0;
  }

  .team__position {
    margin-bottom: 20px;
  }

  /* price */
  .pricing__item {
    margin-bottom: 20px;
    padding: 20px;
  }

  .pricing__item li:nth-last-child(1) {
    margin-bottom: 20px;
  }

  .pricing__num {
    font-size: 36px;
  }

  .pricing__heading {
    margin: 0 auto 20px;
  }

  .pricing__heading,
  .pricing__num {
    font-size: 30px;
  }

  .map {
    padding: 50px;
  }

  iframe {
    height: 400px;
  }

  /* footer */
  .footer {
    min-height: 100px;
  }
}

@media (max-width: 480px) {

  /* header__content */
  .header__subtitle {
    font-size: 70px;
  }

  .header__title {
    font-size: 20px;
    text-align: center;
  }

  /* sections */
  .about,
  .teachers,
  .gallery,
  .blog,
  .team,
  .pricing,
  .connection {
    padding: 15px 0 0;
  }

  .receive {
    padding: 15px 0;
  }

  /* titles */
  .title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  /* about */
  .about__items p,
  .teachers__text p,
  .team__position,
  .receive__item-text,
  .receive__benefits-text p,
  .pricing__item li {
    margin-bottom: 15px;
  }

  /* receive */
  .receive__item-title {
    font-size: 20px;
  }

  .receive__benefits {
    padding-top: 0px;
  }

  .receive__info-item {
    max-width: 90%;
  }

  /* gallery */
  .gallery__filter-btns {
    display: block;
  }

  .gallery__btn {
    font-size: 20px;
  }

  .gallery__add {
    max-width: 220px;
    font-size: 20px;
    padding: 17px 35px;
  }

  .gallery__item {
    width: 100%;
  }

  .blockquote {
    font-size: 24px;
  }

  .gallery__numbers-item {
    font-size: 23px;
  }

  /* blog */
  .slider-blog__item-title {
    font-size: 20px;
  }

  /* price */
  .pricing__item {
    min-width: 100%;
    padding: 20px;
  }

  .pricing__list {
    text-align: center;
  }

  .pricing__item-benefits {
    text-align: left;
  }

  .pricing__heading,
  .pricing__num {
    font-size: 20px;
  }

  .pricing__heading {
    margin: 0 auto 20px;
  }

  .pricing__item li:nth-last-child(1) {
    margin-bottom: 15px;
  }

  /* connection */
  .connection__inner {
    padding: 0 0 25px;
  }

  .form__btn {
    font-size: 20px;
    padding: 15px 50px;
  }

  .connection__contact,
  .social__link {
    font-size: 18px;
  }

  /* social */
  ul.social__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
  }
}